@using Energy.Service;
@using Radzen.Blazor;
@using System.Collections
@using System.ComponentModel.DataAnnotations

@page "/data"

<h3>Start saving!</h3>


<RadzenDataGrid PageSize="20" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowPaging="true" AllowSorting="true" Data="@data" TItem="EnergyData2" ColumnWidth="800px">
    <Columns>
        <RadzenDataGridColumn TItem="EnergyData2" Property="TimeStamp" Title="Timestamp" Width="70px" />
        <RadzenDataGridColumn TItem="EnergyData2" Property="RenewableShare" Title="Data" Width="120px" />
    </Columns>
</RadzenDataGrid>

<br />

<RadzenDropDown Data=@dropdown TextProperty="Name" ValueProperty="Id" Change="@OnChange" AllowClear=true Placeholder="Select location" @bind-Value="@value" />

<br />

<RadzenDataGrid PageSize="20" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowPaging="true" AllowSorting="true" Data="@traffic" TItem="EnergyData2" ColumnWidth="800px">
    <Columns>
        <RadzenDataGridColumn TItem="EnergyData2" Property="TimeStamp" Title="Timestamp" Width="70px" />
        <!--RadzenDataGridColumn TItem="EnergyData2" Property="RenewableShare" Title="Data" Width="120px" --/>
      </Columns>
</RadzenDataGrid>

 <br/>

<RadzenDataGrid PageSize="20" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowPaging="true" AllowSorting="true" Data="@weather" TItem="WeatherData2" ColumnWidth="800px">
    <Columns>
        <RadzenDataGridColumn TItem="WeatherData2" Property="time" Title="Timestamp" Width="70px" />
        <RadzenDataGridColumn TItem="WeatherData2" Property="temperature" Title="Data" Width="120px" />
    </Columns>
</RadzenDataGrid>
